html, body {
  height: 100%;
}

#container {
	background-color: #FFFFFF;
	min-height: 100%; 
	width: 100%;
	height: 100%;
}
#xcontainer {
	background-size: 22px 22px;
	background-image:
	-webkit-repeating-linear-gradient(45deg, rgba(127, 191, 255, .4), rgba(127, 191, 255, .4) 1px, transparent 2px, transparent 15px),
	-webkit-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .4), rgba(255, 182, 193, .4) 1px, transparent 2px, transparent 15px);
	background-image:
	-moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
	-moz-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
	background-image:
	-o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
	-o-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
	background-image:
	repeating-linear-gradient(45deg, rgba(127, 191, 255, .5), rgba(127, 191, 255, .5) 1px, transparent 2px, transparent 15px),
	repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
}
.ideaInput {
	position: absolute;
	border: none;
	z-index: 999;
	background-color: transparent;
	color: #F8F8F8;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 13;
	text-align: center;
	resize: none;
}
.ideaInput:focus {
	outline: none;
}
#linkEditWidget {
	background-color: yellow;
	z-index: 999;
	display:none;
	position: absolute;
}
.active {
	background-color: green;
	color: white;
}

.full-height {
	min-height: 100%;
	height: 100%;	
}

.link-icon {
	margin-left: 5px;
}

.margin-vertical-small {
	margin-top: 10px;
	margin-bottom: 10px;
}