<head>
  <title>dropboxtest</title>
</head>

<body>
  {{> main}}
</body>

<template name="main">
  <div class="container-fluid full-height">
    <div class="row-fluid full-height">
        <div class="span3 full-height">
          <div class="row-fluid margin-vertical-small">
            {{loginButtons}}
          </div>
          <div class="row-fluid margin-vertical-small">
            <button class="addSubIdea btn btn-large" type="button">add</button>
            <button class="removeSubIdea btn btn-large" type="button">delete</button>
          </div>
          <div class="row-fluid margin-vertical-small">
            <button class="editNode btn btn-large"   type="button">edit</button>
            <button class="toggleCollapse btn btn-large" type="button">exp/col</input>
          </div>
          <div class="row-fluid margin-vertical-small">
            <div id="tree1"></div>
          </div>
        </div>
        <div class="span9 full-height">
          <div id="linkEditWidget">
            <input class="delete" type="button" value="Delete"></input>
            <select class="color">
              <option value="red">Red</option>
              <option value="blue">Blue</option>
            </select>
            <select class="lineStyle">
              <option value="solid">Solid</option>
              <option value="dashed">Dashed</option>
            </select>
            <button class="arrow">Arrow</button>
          </div>
          <div id="container"></div>  
        </div>
    </div>
  </div>

</template>
