<template name="configureLoginServiceDialogForDropbox">
  <p>
    First, you'll need to get a Dropbox Client ID. Follow these steps:
  </p>
  <ol>
    <li>
      Visit <a href="https://www.dropbox.com/developers/apps" target="blank">https://www.dropbox.com/developers/apps</a>
    </li>
    <li>
      Set Homepage URL to: <span class="url">{{siteUrl}}</span>
    </li>
    <li>
      Set Authorization callback URL to: <span class="url">{{siteUrl}}_oauth/dropbox?close</span>
    </li>
  </ol>
</template>
